In [1]:
import pandas as pd
import os
import glob

In [2]:
def calculating_null_values_per_column(data: pd.DataFrame, label: str) -> dict:
    """
    Calculates the number of null values per column in a dataframe and presents the result as a dictionary
    """
    null_values_dict = {}

    for i in data.columns:
        null_values_dict[i] = data[i].isna().sum()

    print(f'The number of null values per column in the {label} is the following: ' + str(null_values_dict))
    
    return null_values_dict

In [3]:
# Moving csv files to their own folder

if os.path.exists("./data/csv/"):
    pass
else:
    source_folder = "./"

    destination_folder = os.path.join(source_folder, "data/csv")

    if not os.path.exists(destination_folder):
        os.makedirs(destination_folder)

    for filename in os.listdir("./csv/"):
        os.rename(os.path.join(source_folder, filename), os.path.join(destination_folder, filename))

In [4]:
csv_files = os.listdir("./data/original/")
print(csv_files)

['holidays_events.csv', 'oil.csv', 'sample_submission.csv', 'stores.csv', 'test.csv', 'train.csv', 'transactions.csv']

In [6]:
dict_of_csvs = {}

for i in csv_files:
    dict_of_csvs[i[:-4]] = pd.read_csv("./data/original/" + i)

In [7]:
print(csv_files)

['holidays_events.csv', 'oil.csv', 'sample_submission.csv', 'stores.csv', 'test.csv', 'train.csv', 'transactions.csv']

In [8]:
list(dict_of_csvs.keys())

['holidays_events',
 'oil',
 'sample_submission',
 'stores',
 'test',
 'train',
 'transactions']

In [9]:
dict_of_csvs['holidays_events'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         350 non-null    object
 1   type         350 non-null    object
 2   locale       350 non-null    object
 3   locale_name  350 non-null    object
 4   description  350 non-null    object
 5   transferred  350 non-null    bool
dtypes: bool(1), object(5)
memory usage: 14.1+ KB

In [10]:
dict_of_csvs['holidays_events'].head()

,date,type,locale,locale_name,description,transferred
0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
3,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
4,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False

In [ ]:
dict_of_csvs['oil'].info()

In [ ]:
dict_of_csvs['oil'].head()

In [ ]:
train_data = pd.read_csv('./train.csv')
train_data.head()

In [ ]:
train_data.describe()

In [ ]:
# Calculating null values per column on the training data

train_data_null_values = calculating_null_values_per_column(train_data, 'training data')